<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    This is Dashboard.
    <ul>
      <%data.forEach(list=>{%>
      <li><%=list.name%></li>
      <%})%>
    </ul>

    <div>
        <%=JSON.stringify(user)%>
    </div>
    <ul>
        <li><%=user.profile.gender%></li>
        <li><%=user.profile.salary%></li>
        <li><%=user.profile.education%></li>
    </ul>

  </body>
</html>
